.img-responsive {
    width: 90px;
    height: 90px;
    align-self: center;
    margin-top: 35px;
}

#mobile {
    width: 50px;
}

#services .card {
    border: none;
    background-color: #fcfcfe;
}

#services .card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.10);
}
