.img-responsive {
    width: 90px;
    height: 90px;
    align-self: center;
    margin-top: 35px;
}

#mobile {
    width: 50px;
}

#services .card {
    border: none;
    background-color: #fcfcfe;
}

#services .card:hover {
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #03bb85;
    border: none;
}
.btn-primary:hover {
    background-color: #f0fdf9;
    color: #1d1d1b;
}

.selected {
    background-color: #f0fdf9;
    color: #1d1d1b;
}

.link {
    color: #03bb85;
}

.link--mail {
    color: #5638a9;
}

footer {
    /* background-color: #FCFCFE; */
    background-color: #fcfcfe;
}

.nav-link:hover {
    color: #03bb85 !important;
}


@media (max-width: 576px) {
    #center-1{
        text-align: center;
    }

}
